@font-face {
  font-family: "Lucida_Console";
  src: url("../fonts/lucon-webfont.woff") format("woff");
}
html {
  overflow-x: hidden;
}

body {
  font-family: "Source Serif Pro", serif;
}

h1,
h2 {
  font-family: "Lucida_Console", "Lucida Console", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1,
h3 {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 4.8rem;
  text-transform: uppercase;
  font-weight: 600;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.6rem;
  font-family: "Source Serif Pro", serif;
  line-height: 2;
}

a:link,
a:visited {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 2px;
  font-family: "Lucida_Console", "Lucida Console", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a:hover {
  color: red;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.loader-container {
  background-color: #000;
  min-height: 100vh;
}
.loader-container .loader-text-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 30%;
  width: 100%;
}

.loader-container h1 {
  color: #fff;
  text-transform: capitalize;
  font-weight: 900;
  text-align: center;
  font-size: 4.8rem;
  line-height: 1.2;
  margin-bottom: 3.6rem;
}
.loader-container h1 span {
  display: block;
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 0.6rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#circle2 {
  display: block;
  position: absolute;
  top: 100%;
  height: 30px;
  width: 30px;
  border: 2px rgb(238, 238, 238) solid;
  border-top: 2px rgb(0, 0, 0) solid;
  border-radius: 50%;
  -webkit-animation: spin2 1s infinite linear;
  animation: spin2 1s infinite linear;
}

@-webkit-keyframes spin2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes spin2 {
  from {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.balls {
  height: 8px;
}

.balls > span {
  display: inline-block;
  background-color: #fff;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  margin: 0 4px;
  transform: translate3d(0);
  -webkit-animation: bounce 0.6s infinite alternate;
          animation: bounce 0.6s infinite alternate;
}

.balls > span:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.balls > span:nth-child(3) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@-webkit-keyframes bounce {
  to {
    width: 8px;
    height: 8px;
    transform: translate3d(0, -8px, 0);
  }
}

@keyframes bounce {
  to {
    width: 8px;
    height: 8px;
    transform: translate3d(0, -8px, 0);
  }
}
main {
  opacity: 0;
  display: none;
  transition: opacity 1s ease-in;
  overflow-x: hidden;
}

.hero {
  min-height: 100vh;
  /* Fallback for browsers that do not support Custom Properties */
  background-color: black;
  background-image: url("../img/hero04-flipped-compressed.jpg");
  background-size: 1400px;
  background-position: -30rem -10rem;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  padding-bottom: 9.6rem;
}
.hero .overlay {
  display: none;
}
.hero .main-nav {
  display: flex;
  justify-content: flex-end;
  padding: 4.8rem 0;
  align-items: center;
  margin-bottom: 4.8rem;
}
.hero .main-nav ul {
  display: flex;
  font-size: 2.4rem;
  letter-spacing: 1px;
}
.hero .main-nav ul li:not(:last-child) {
  margin-right: 3.2rem;
}
.hero .opening-hours-section {
  display: block;
  display: flex;
  justify-content: flex-end;
}
.hero .opening-hours-card {
  padding: 3.2rem 4.8rem;
  border: 2px solid #fff;
  display: inline-block;
  background-color: #000;
}
.hero .opening-hours-card .logo {
  color: #fff;
  text-transform: capitalize;
  font-weight: 900;
  text-align: center;
  font-size: 4.8rem;
  line-height: 1.2;
}
.hero .opening-hours-card .logo span {
  display: block;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 0.6rem;
}
.hero .opening-hours-card h1 {
  text-align: center;
  letter-spacing: 3px;
}
.hero .opening-hours-card .opening-hours-card-title {
  margin-bottom: 4.2rem;
}
.hero .opening-hours-card .opening-hours {
  display: flex;
  flex-direction: column;
  margin-bottom: 4.2rem;
}
.hero .opening-hours-card .opening-hours .opening-hour {
  display: flex;
  align-items: center;
}
.hero .opening-hours-card .opening-hours .opening-hour:not(:last-child) {
  margin-bottom: 2rem;
}
.hero .opening-hours-card .opening-hours .opening-hour .opening-day {
  min-width: 100px;
  margin-right: 4rem;
}
.hero .opening-hours-card .opening-hours .opening-hour h3 {
  letter-spacing: 1px;
}
.hero .opening-hours-card .opening-hours .opening-hour h3:last-child {
  flex: 1;
  text-align: right;
}
.hero .opening-hours-card .opening-hours .closed h3 {
  color: #616161;
}
.hero .opening-hours-card .opening-hours .closed .line {
  background-color: #616161;
}
.hero .opening-hours-card .opening-hours .line {
  width: 6.2rem;
  height: 2px;
  background-color: #fff;
  margin-right: 4rem;
}
.hero .opening-hours-card .phone-number {
  text-align: center;
  margin-bottom: 4.2rem;
}
.hero .opening-hours-card .phone-number h3 {
  font-size: 2.4rem;
  font-weight: 600;
  font-family: "Lucida_Console", "Lucida Console", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.hero .opening-hours-card .address {
  text-align: center;
  display: block;
  font-size: 1.4rem;
  font-weight: 600;
}

.om-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.om-section h2 {
  font-weight: 900;
  font-size: 4.8rem;
  margin-bottom: 2.4rem;
}
.om-section .om-text-container {
  padding: 9.6rem 11.2rem;
  display: flex;
  flex-direction: column;
}
.om-section .om-text-container p {
  font-size: 2rem;
}
.om-section .om-text-container p a:link {
  color: black;
  font-family: "Source Serif Pro", serif;
}
.om-section .om-text-container p span {
  font-weight: bold;
  color: black;
}
.om-section .om-text-container p:not(:last-child) {
  margin-bottom: 2rem;
}
.om-section .om-img-container {
  position: relative;
}

.slider {
  overflow: hidden;
  height: 100%;
  position: relative;
}

.slides {
  height: 100%;
  width: 100%;
  display: flex;
}
.slides input {
  display: none;
}

.slide {
  transition: 2s;
  height: 100%;
  width: 100%;
  flex-shrink: 0;
}
.slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.navigation-manual {
  width: 100%;
  position: absolute;
  bottom: 30px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #fff;
  padding: 3px;
  border-radius: 50%;
  cursor: pointer;
  transform: 1s;
  transition: 200ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.manual-btn:not(:last-child) {
  margin-right: 1.4rem;
}

.slide-active,
.manual-btn:hover {
  transform: scale(1.2);
  background-color: #fff;
}

#radio1:checked ~ .first {
  margin-left: 0%;
}

#radio2:checked ~ .first {
  margin-left: -100%;
}

#radio3:checked ~ .first {
  margin-left: -200%;
}

.navigation-auto {
  width: 100%;
  position: absolute;
  bottom: 30px;
  display: flex;
  justify-content: center;
}
.navigation-auto div {
  border: 2px solid #fff;
  padding: 3px;
  border-radius: 50%;
  cursor: pointer;
  transform: 1s;
  transition: 200ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.navigation-auto div:not(:last-child) {
  margin-right: 1.4rem;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #fff;
}

.prices-section {
  position: relative;
  background-color: #f3f3f3;
  padding: 7.2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 50px;
}
.prices-section .left-rectangle {
  background-color: #000;
  box-shadow: rgba(0, 0, 0, 0.4) 5px 0px, rgba(0, 0, 0, 0.3) 10px 0px, rgba(0, 0, 0, 0.2) 15px 0px, rgba(0, 0, 0, 0.1) 20px 0px, rgba(0, 0, 0, 0.05) 25px 0px;
  width: 25px;
  min-height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.prices-section .left-rectangle::after {
  content: "SALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIRSALONHAIR";
  font-family: "Lucida_Console", "Lucida Console", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  color: rgb(114, 114, 114);
  position: absolute;
  transform: rotate(90deg);
  top: -5px;
  letter-spacing: 4px;
  overflow: hidden;
}
.prices-section h2 {
  text-align: center;
  font-weight: 900;
  margin-bottom: 0.6rem;
  font-size: 6.8rem;
  letter-spacing: 5px;
}
.prices-section p {
  text-align: center;
  margin-bottom: 4.8rem;
  font-style: italic;
  letter-spacing: 1px;
}
.prices-section .prices-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
}
.prices-section .prices-left-container {
  margin-right: 6rem;
}
.prices-section .prices-right-container {
  margin-left: 6rem;
}
.prices-section .prices-right-container .prices-category:last-child {
  margin-bottom: 0;
}
.prices-section .prices-category {
  margin-bottom: 3.6rem;
}
.prices-section .prices-category h3 {
  font-size: 3.6rem;
  color: #fff;
  background: #000;
  margin-bottom: 1.6rem;
  font-weight: 600;
  padding: 0 1.2rem;
  letter-spacing: 2px;
  font-family: "Lucida_Console", "Lucida Console", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.prices-section .prices-category h5 {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
}
.prices-section .prices-category h4 {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 0.6rem;
  font-weight: 600;
  text-decoration: underline;
  font-weight: 900;
  letter-spacing: 1px;
}
.prices-section .prices-subcategory {
  margin-bottom: 2.8rem;
}
.prices-section .prices-subcategory h4 {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 0.6rem;
  font-weight: 600;
  text-decoration: underline;
  font-weight: 900;
  letter-spacing: 1px;
}
.prices-section .prices-items {
  display: flex;
  flex-direction: column;
  width: 450px;
}
.prices-section .prices-items .extra-fee {
  letter-spacing: 1px;
}
.prices-section .price-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 1px;
}
.prices-section .price-item:not(:last-child) {
  margin-bottom: 0.8rem;
}
.prices-section .price-item .dot {
  flex: 1;
  align-self: center;
  border-bottom: 1px dotted black;
  margin: 0 0.6rem 0 0.6rem;
  margin-top: 0.8rem;
}
.prices-section .price-name {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.prices-section .price-cost {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.prices-section .hair-length,
.prices-section .treatment-type {
  display: flex;
  flex-direction: column;
}
.prices-section .hair-length .price-item:last-child,
.prices-section .treatment-type .price-item:last-child {
  margin-bottom: 1.2rem;
}
.prices-section .hair-length .price-name,
.prices-section .hair-length .price-cost,
.prices-section .treatment-type .price-name,
.prices-section .treatment-type .price-cost {
  font-weight: 400;
}
.prices-section .prices-right-container .price-name {
  font-weight: 400;
}
.prices-section .with-hat {
  margin-top: 1.2rem;
}

.find-os-section {
  padding: 7.2rem 0 4.8rem 0;
}
.find-os-section h2 {
  text-align: center;
}
.find-os-section p {
  text-align: center;
  margin-bottom: 6.8rem;
}
.find-os-section .map-container {
  display: flex;
  justify-content: center;
}
.find-os-section .map-container iframe {
  width: 80%;
  height: 700px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main-footer {
  padding: 3.2rem 0;
  background-color: #000;
  display: none;
}
.main-footer .main-footer-content {
  width: 90%;
  margin: 0 auto;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  font-family: "Lucida_Console", "Lucida Console", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.main-footer .main-footer-content ul {
  display: flex;
  letter-spacing: 1px;
  align-items: center;
}
.main-footer .main-footer-content ul li:not(:last-child) {
  margin-right: 3.2rem;
}
.main-footer .main-footer-content ul .company-name {
  font-weight: 900;
  font-size: 1.8rem;
}
.main-footer .created-by a:link {
  margin-left: 4px;
  font-size: 1.8rem;
}

@media (max-width: 1650px) {
  .hero {
    background-image: url("../img/hero04-flipped-compressed.jpg");
    background-position: -40rem -10rem;
  }
}
@media (max-width: 1470px) {
  .hero {
    background-image: url("../img/hero04-flipped-compressed.jpg");
    background-position: -50rem -10rem;
  }
}
@media (max-width: 1370px) {
  .hero {
    background-image: url("../img/hero04-flipped-compressed.jpg");
    background-position: -60rem -10rem;
  }

  .prices-section,
.find-os-section {
    padding: 3.6rem 0;
  }
}
@media (max-width: 1230px) {
  .hero {
    background-image: url("../img/hero04-flipped-compressed.jpg");
    background-position: -70rem -10rem;
  }
}
@media (max-width: 1170px) {
  .prices-section .prices-container {
    grid-template-columns: 1fr;
  }
  .prices-section .prices-left-container {
    margin-right: 0;
  }
  .prices-section .prices-right-container {
    margin-left: 0;
  }

  .find-os-section p {
    margin-bottom: 4.8rem;
  }
  .find-os-section .map-container iframe {
    width: 90%;
    height: 400px;
  }
}
@media (max-width: 1136px) {
  .om-section {
    grid-template-columns: 1fr;
    height: 100vh;
  }
  .om-section .om-text-container {
    padding-top: 7.2rem;
    padding-bottom: 7.2rem;
  }
  .om-section .om-img-container {
    background-image: unset;
    padding: 7.2rem 0;
  }

  .navigation-manual,
.navigation-auto {
    display: none;
  }
}
@media (max-width: 1130px) {
  .container {
    width: 100%;
  }

  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/hero04-flipped-compressed.jpg");
    position: relative;
    background-repeat: unset;
    padding-bottom: 4.8rem;
  }
  .hero .overlay {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.699);
    position: absolute;
    z-index: -1;
  }
  .hero .main-nav {
    justify-content: center;
    margin-bottom: 0;
  }
  .hero .opening-hours-section {
    justify-content: center;
  }
}
@media (max-width: 1030px) {
  .main-footer .main-footer-content ul {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 0.8rem;
    -moz-column-gap: 2.4rem;
         column-gap: 2.4rem;
  }
  .main-footer .main-footer-content ul li:not(:last-child) {
    margin-right: 0;
  }
  .main-footer .main-footer-content ul .footer-tlf {
    grid-row-start: 1;
    grid-column-start: 2;
  }
  .main-footer .created-by {
    align-self: flex-end;
  }

  .find-os-section .map-container {
    margin-bottom: 0;
  }
}
@media (max-width: 600px) {
  .om-section .om-text-container {
    padding: 3.6rem 6rem;
  }

  .prices-section {
    padding-left: 25px;
  }
  .prices-section .price-item {
    display: grid;
    grid-template-columns: auto auto;
  }
  .prices-section .price-item .dot {
    display: none;
  }
  .prices-section .price-name {
    display: flex;
  }
  .prices-section .price-name::after {
    display: inline-flex;
    flex-grow: 1;
    content: "";
    border-bottom: 1px solid black;
  }
  .prices-section .price-cost {
    align-self: end;
  }
  .prices-section .left-rectangle {
    width: 25px;
  }
  .prices-section .prices-items {
    width: 400px;
  }
}
@media (max-width: 660px) {
  .main-footer .main-footer-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-footer .main-footer-content ul {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.8rem;
    justify-items: center;
    margin-bottom: 4.8rem;
    -moz-column-gap: 2.4rem;
         column-gap: 2.4rem;
  }
  .main-footer .main-footer-content ul .company-name {
    grid-column: 1/-1;
    font-size: 2.4rem;
  }
  .main-footer .main-footer-content ul .footer-tlf {
    grid-row-start: unset;
    grid-column-start: unset;
  }
  .main-footer .main-footer-content ul .cvr {
    grid-row-start: 4;
  }
  .main-footer .created-by {
    align-self: center;
  }

  .om-section {
    min-height: 85vh;
  }

  .find-os-section h2 {
    font-size: 3.6rem;
  }
}
@media (max-width: 510px) {
  .hero .opening-hours-card .opening-hours .line {
    width: 3.2rem;
  }
}
@media (max-width: 480px) {
  .hero .main-nav {
    padding: 3.2rem 0 0 1.2rem;
  }
  .hero .opening-hours-card {
    padding: 2.4rem;
    transform: scale(0.9);
  }
  .hero .opening-hours-card .opening-hours .line {
    width: 3.2rem;
  }

  .prices-section {
    padding: 3.6rem 0.4rem;
  }
  .prices-section h2 {
    font-size: 4.8rem;
    margin-bottom: 0;
  }
  .prices-section .left-rectangle {
    display: none;
  }
  .prices-section .prices-category h3 {
    width: 100%;
    background-color: #000;
    color: #fff;
    font-size: 2.4rem;
    padding: 0.6rem;
    text-align: center;
    font-weight: 600;
  }

  .om-section {
    min-height: 85vh;
  }
  .om-section .om-text-container {
    padding: 3.6rem 3rem;
  }
  .om-section .om-text-container p {
    font-size: 1.6rem;
  }
  .om-section .om-text-container p:not(:last-child) {
    margin-bottom: 1.6rem;
  }
  .om-section h2 {
    font-size: 3.2rem;
    margin-bottom: 1.6rem;
  }
}
@media (max-width: 432px) {
  .prices-section {
    padding: 3.6rem 0;
  }
  .prices-section h2 {
    padding: unset;
  }
  .prices-section .prices-container {
    padding: 0 1.2rem;
  }
  .prices-section .prices-items {
    width: unset;
  }
}
@media (max-width: 402px) {
  h3 {
    font-size: 2rem;
  }

  .hero .main-nav {
    padding: 3.2rem 0 0 1.2rem;
  }
  .hero .opening-hours-card {
    padding: 2.4rem;
    transform: scale(0.9);
  }
  .hero .opening-hours-card .opening-hours .line {
    width: 3.2rem;
  }

  .om-section {
    min-height: 85vh;
  }
  .om-section .om-text-container {
    padding: 3.6rem 3rem;
  }

  .find-os-section h2 {
    font-size: 2.8rem;
  }
  .find-os-section p {
    font-size: 1.6rem;
  }
}
@media (max-width: 387px) {
  .hero .main-nav ul {
    font-size: 2rem;
    letter-spacing: 1px;
  }
  .hero .main-nav ul li:not(:last-child) {
    margin-right: 2.4rem;
  }
  .hero .opening-hours-card .logo {
    font-size: 3.6rem;
    margin-bottom: 3.6rem;
  }
  .hero .opening-hours-card .opening-hours .opening-hour h3 {
    font-size: 1.4rem;
  }
  .hero .opening-hours-card .opening-hours .opening-hour .opening-day {
    min-width: 69px;
  }

  .find-os-section p {
    padding: 0 1.2rem;
  }
}
@media (max-width: 342px) {
  h2 {
    font-size: 3.6rem;
  }

  .om-section .om-text-container {
    padding: 3.6rem 3rem;
  }
  .om-section .om-text-container p {
    font-size: 1.8rem;
  }
}
@media (max-width: 323px) {
  .hero .opening-hours-card .opening-hours .opening-hour h3 {
    font-size: 1.4rem;
  }
  .hero .opening-hours-card .opening-hours .opening-hour .opening-day {
    min-width: 69px;
    margin-right: 3.2rem;
  }
}
@media (max-width: 315px) {
  .hero .opening-hours-card .logo {
    font-size: 3rem;
    margin-bottom: 2.4rem;
  }
  .hero .opening-hours-card .opening-hours .opening-hour h3 {
    font-size: 1.4rem;
  }
  .hero .opening-hours-card .opening-hours .opening-hour .opening-day {
    min-width: 69px;
    margin-right: 1.8rem;
  }
}/*# sourceMappingURL=style.css.map */