html {
  overflow-x: hidden;
}

body {
  font-family: "Source Serif Pro", serif;
}

h1,
h3 {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 4.8rem;
  text-transform: uppercase;
  font-weight: 600;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.6rem;
}

a:link,
a:visited {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  font-family: "Source Serif Pro", serif;
  letter-spacing: 2px;
}

a:hover {
  color: red;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.hero {
  min-height: 100vh;
  /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  background-color: black;
  background-image: url("../img/hero04-flipped-compressed.jpg");
  background-size: 1400px;
  background-position: -25rem -7rem;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
.hero .main-nav {
  display: flex;
  justify-content: flex-end;
  padding: 4.8rem 0;
  align-items: center;
  margin-bottom: 8rem;
}
.hero .main-nav .logo {
  color: #fff;
  text-transform: lowercase;
  font-weight: 900;
  text-align: center;
  position: absolute;
  right: 50%;
  transform: translate(50%);
  font-size: 4.8rem;
}
.hero .main-nav .logo span {
  display: block;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}
.hero .main-nav ul {
  display: flex;
  gap: 2.4rem;
  font-size: 2rem;
  letter-spacing: 1px;
}
.hero .opening-hours-section {
  display: block;
  display: flex;
  justify-content: flex-end;
}
.hero .opening-hours-card {
  padding: 3.2rem 4.8rem;
  border: 2px solid #fff;
  display: inline-block;
}
.hero .opening-hours-card h1 {
  text-align: center;
  letter-spacing: 3px;
}
.hero .opening-hours-card .opening-hours-card-title {
  margin-bottom: 4.2rem;
}
.hero .opening-hours-card .opening-hours {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 4.2rem;
}
.hero .opening-hours-card .opening-hours .opening-hour {
  display: flex;
  gap: 4rem;
  align-items: center;
}
.hero .opening-hours-card .opening-hours .opening-hour .opening-day {
  min-width: 100px;
}
.hero .opening-hours-card .opening-hours .opening-hour h3 {
  letter-spacing: 1px;
}
.hero .opening-hours-card .opening-hours .opening-hour h3:last-child {
  flex: 1;
  text-align: right;
}
.hero .opening-hours-card .opening-hours .closed h3 {
  color: #616161;
}
.hero .opening-hours-card .opening-hours .closed .line {
  background-color: #616161;
}
.hero .opening-hours-card .opening-hours .line {
  width: 6.2rem;
  height: 2px;
  background-color: #fff;
}
.hero .opening-hours-card .phone-number {
  text-align: center;
  margin-bottom: 4.2rem;
}
.hero .opening-hours-card .phone-number h3 {
  font-size: 2.4rem;
  font-weight: 600;
}
.hero .opening-hours-card .address {
  text-align: center;
  display: block;
  font-size: 1.4rem;
  font-weight: 600;
}

.om-section {
  min-height: 100vh;
  /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.om-section .om-text-container {
  padding: 0 11.2rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.om-section .om-text-container p {
  font-size: 2rem;
}
.om-section .om-img-container {
  background-color: #8c0d0d;
  height: 100%;
}

.prices-section {
  position: relative;
  padding-bottom: 7.2rem;
}
.prices-section .left-rectangle {
  background-color: #000;
  width: 50px;
  height: 100%;
  position: absolute;
}
.prices-section h2 {
  padding-top: 7.2rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: 0.6rem;
  font-size: 6.8rem;
  letter-spacing: 5px;
}
.prices-section p {
  text-align: center;
  margin-bottom: 4.8rem;
  font-style: italic;
  letter-spacing: 1px;
}
.prices-section .prices-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 60%;
  margin: 0 auto;
}
.prices-section .prices-left-container {
  padding-right: 8rem;
}
.prices-section .prices-right-container {
  padding-left: 8rem;
}
.prices-section .prices-right-container .prices-category:last-child {
  margin-bottom: 0;
}
.prices-section .prices-category {
  margin-bottom: 3.6rem;
}
.prices-section .prices-category h3 {
  font-size: 3.6rem;
  color: #000;
  margin-bottom: 1.6rem;
  font-weight: 900;
  letter-spacing: 2px;
}
.prices-section .prices-category h5 {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
}
.prices-section .prices-subcategory {
  margin-bottom: 2.8rem;
}
.prices-section .prices-subcategory h4 {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
  font-weight: 600;
  font-weight: 900;
  letter-spacing: 1px;
}
.prices-section .prices-items {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.prices-section .price-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 1px;
  gap: 0.6rem;
}
.prices-section .price-item .dot {
  flex: 1;
  align-self: center;
  border-bottom: 1px dotted black;
  margin-top: 0.8rem;
}
.prices-section .price-name {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.prices-section .price-cost {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.prices-section .hair-length,
.prices-section .treatment-type {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.prices-section .hair-length .price-item:last-child,
.prices-section .treatment-type .price-item:last-child {
  margin-bottom: 1.2rem;
}
.prices-section .hair-length .price-name,
.prices-section .hair-length .price-cost,
.prices-section .treatment-type .price-name,
.prices-section .treatment-type .price-cost {
  font-weight: 400;
}
.prices-section .prices-right-container .price-name {
  font-weight: 400;
}
.prices-section .with-hat {
  margin-top: 1.2rem;
}

.find-os-section h2 {
  text-align: center;
  padding-top: 7.2rem;
}
.find-os-section p {
  text-align: center;
  margin-bottom: 2.4rem;
}
.find-os-section .map-container {
  display: flex;
  justify-content: center;
  margin-bottom: 7.2rem;
}
.find-os-section .map-container iframe {
  min-width: 1200px;
  height: 500px;
}

.main-footer {
  padding: 3.2rem 0;
  background-color: #000;
}
.main-footer .main-footer-content {
  width: 90%;
  margin: 0 auto;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
}
.main-footer .main-footer-content ul {
  display: flex;
  gap: 4.2rem;
  letter-spacing: 1px;
}
.main-footer .main-footer-content ul .company-name {
  font-weight: 900;
}/*# sourceMappingURL=style.css.map */