// General styles

html {
	overflow-x: hidden;
}
body {
	font-family: 'Source Serif Pro', serif;
}

h1,
h3 {
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
}

h1 {
	font-size: 3.2rem;
}

h2 {
	font-size: 4.8rem;
	text-transform: uppercase;
	font-weight: 600;
}

h3 {
	font-size: 2rem;
}

p {
	font-size: 1.6rem;
}

a:link,
a:visited {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	cursor: pointer;
	font-family: 'Source Serif Pro', serif;
	letter-spacing: 2px;
}

a:hover {
	color: red;
}

.container {
	width: 70%;
	margin: 0 auto;
}

// HERO

.hero {
	min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
	height: calc(var(--vh, 1vh) * 100);
	background-color: black;
	background-image: url('../img/hero04-flipped-compressed.jpg');
	background-size: 1400px;
	background-position: clamp(-20rem, 10vw + 1rem, -25rem) -7rem;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
	// z-index: ;

	.main-nav {
		display: flex;
		justify-content: flex-end;
		padding: 4.8rem 0;
		align-items: center;
		margin-bottom: 4.8rem;

		ul {
			display: flex;
			gap: 2.4rem;
			font-size: 2rem;
			letter-spacing: 1px;
		}
	}

	.opening-hours-section {
		display: block;

		display: flex;
		justify-content: flex-end;
	}
	.opening-hours-card {
		padding: 3.2rem 4.8rem;
		border: 2px solid #fff;
		// border-left: 2px solid red;
		// border-bottom: 2px solid red;
		display: inline-block;
		background-color: #000;

		.logo {
			color: #fff;
			text-transform: lowercase;
			font-weight: 900;
			text-align: center;
			// position: absolute;
			// right: 50%;
			// transform: translate(50%);
			font-size: 4.8rem;
			line-height: 1.2;

			span {
				display: block;
				font-size: 1.4rem;
				font-weight: 600;

				text-transform: uppercase;
			}
		}

		h1 {
			text-align: center;
			letter-spacing: 3px;
		}
		.opening-hours-card-title {
			margin-bottom: 4.2rem;
		}

		.opening-hours {
			display: flex;
			flex-direction: column;
			gap: 2rem;
			margin-bottom: 4.2rem;

			.opening-hour {
				display: flex;
				gap: 4rem;
				align-items: center;

				.opening-day {
					min-width: 100px;
				}

				h3 {
					letter-spacing: 1px;
					&:last-child {
						flex: 1;
						text-align: right;
					}
				}
			}

			.closed {
				h3 {
					color: #616161;
				}

				.line {
					background-color: #616161;
				}
			}

			.line {
				width: 6.2rem;
				height: 2px;
				background-color: #fff;
			}
		}

		.phone-number {
			text-align: center;
			margin-bottom: 4.2rem;

			h3 {
				font-size: 2.4rem;
				font-weight: 600;
			}
		}
		.address {
			text-align: center;
			display: block;
			font-size: 1.4rem;
			font-weight: 600;
		}
	}
}

// ABOUT SECTION

.om-section {
	min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
	// height: calc(var(--vh, 1vh) * 100);
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	// margin-bottom: 7.2rem;

	.om-text-container {
		padding: 0 11.2rem;
		display: flex;
		flex-direction: column;
		gap: 2.4rem;

		p {
			font-size: 2rem;
		}
	}

	.om-img-container {
		background-color: #8c0d0d;
		height: 100%;
	}
}

// PRICES SECTION

.prices-section {
	position: relative;
	// background-color: #e9e9e9;
	padding-bottom: 7.2rem;
	// background: url('../img/overlay-texture01.jpg');

	.left-rectangle {
		background-color: #000;
		width: 50px;
		height: 100%;
		position: absolute;
	}

	h2 {
		padding-top: 7.2rem;
		text-align: center;
		font-weight: 900;
		margin-bottom: 0.6rem;
		font-size: 6.8rem;
		letter-spacing: 5px;
	}

	p {
		text-align: center;
		margin-bottom: 4.8rem;
		font-style: italic;
		letter-spacing: 1px;
	}

	.prices-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		// gap: 12rem;
		width: 60%;
		margin: 0 auto;
	}

	.prices-left-container {
		// border-right: 0.5px solid #000;
		padding-right: 8rem;
	}
	.prices-right-container {
		// border-left: 0.5px solid #000;
		padding-left: 8rem;

		.prices-category:last-child {
			margin-bottom: 0;
		}
	}

	.prices-category {
		margin-bottom: 3.6rem;
		h3 {
			font-size: 3.6rem;
			color: #000;
			margin-bottom: 1.6rem;
			font-weight: 900;
			letter-spacing: 2px;
		}

		h5 {
			font-size: 1.4rem;
			text-transform: uppercase;
			font-weight: 900;
			letter-spacing: 1px;
		}
	}

	.prices-subcategory {
		margin-bottom: 2.8rem;
		h4 {
			font-size: 1.8rem;
			text-transform: uppercase;
			margin-bottom: 1.2rem;
			font-weight: 600;
			// text-decoration: underline;
			font-weight: 900;
			letter-spacing: 1px;
		}
	}

	.prices-items {
		display: flex;
		flex-direction: column;
		gap: 0.8rem;
	}

	.price-item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		letter-spacing: 1px;
		gap: 0.6rem;

		.dot {
			flex: 1;
			align-self: center;
			border-bottom: 1px dotted black;
			margin-top: 0.8rem;
		}
	}

	.price-name {
		font-size: 1.4rem;
		text-transform: uppercase;
		// font-weight: 600;
		letter-spacing: 1px;
	}

	.price-cost {
		font-size: 1.4rem;
		text-transform: uppercase;
	}

	.hair-length,
	.treatment-type {
		display: flex;
		flex-direction: column;
		gap: 0.8rem;

		.price-item {
			&:last-child {
				margin-bottom: 1.2rem;
			}
		}

		.price-name,
		.price-cost {
			font-weight: 400;
		}
	}

	.prices-right-container {
		.price-name {
			font-weight: 400;
		}
	}

	.with-hat {
		margin-top: 1.2rem;
	}
}

.find-os-section {
	h2 {
		text-align: center;
		padding-top: 7.2rem;
	}

	p {
		text-align: center;
		margin-bottom: 2.4rem;
	}

	.map-container {
		display: flex;
		justify-content: center;
		margin-bottom: 7.2rem;

		iframe {
			min-width: 1200px;
			height: 500px;
		}
	}
}

.main-footer {
	padding: 3.2rem 0;
	background-color: #000;

	.main-footer-content {
		width: 90%;
		margin: 0 auto;
		color: #fff;
		text-transform: uppercase;
		font-size: 1.2rem;
		display: flex;
		justify-content: space-between;

		ul {
			display: flex;
			gap: 4.2rem;
			letter-spacing: 1px;
			.company-name {
				font-weight: 900;
			}
		}
	}
}

// MEDIA QUERIES

@media (max-width: 960px) {
	.container {
		width: 100%;
	}

	.hero {
		background-image: linear(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
			url('../img/hero04-flipped-compressed.jpg');

		.main-nav {
			justify-content: center;
			margin-bottom: 0;
		}
		.opening-hours-section {
			justify-content: center;
		}
	}
}

@media (max-width: 880px) {
	.main-footer {
		.main-footer-content {
			ul {
				display: grid;
				grid-template-columns: auto auto;
				row-gap: 0.8rem;

				column-gap: 2.4rem;

				.footer-tlf {
					grid-row-start: 1;
					grid-column-start: 2;
				}
			}
		}

		.created-by {
			align-self: flex-end;
		}
	}
}

@media (max-width: 540px) {
	.main-footer {
		.main-footer-content {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 4.8rem;
			ul {
				display: grid;
				grid-template-columns: 1fr;
				row-gap: 0.8rem;
				justify-items: center;

				column-gap: 2.4rem;

				.company-name {
					grid-column: 1 / -1;
					// grid-row: 1;
					color: blue;
					font-size: 2.4rem;
				}

				.footer-tlf {
					grid-row-start: unset;
					grid-column-start: unset;
				}

				.cvr {
					grid-row-start: 4;
				}
			}
		}

		.created-by {
			align-self: center;
		}
	}
}
